<div class="not-prose">
  <div
    class="mx-auto max-w-7xl py-4 lg:flex lg:items-center lg:justify-between"
  >
    <div>
      <h4 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">
        Ready to try it?
      </h4>
      <p>
        The
        <a
          href="https://github.com/Flutter-Global/sandbox-mt"
          class="text-theme-color"
          >sandbox-mt repository</a
        >
        is a sandbox area for you to use.
      </p>
    </div>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a
          href="https://github.com/Flutter-Global/sandbox-mt"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-theme-color px-5 py-3 text-base font-medium text-white hover:underline"
          >sandbox-mt on GitHub</a
        >
      </div>
    </div>
  </div>
</div>
