{% assign urls = "/docs/cbg/,/docs/repo-config/,/docs/capability-defaults/,/docs/cbg-v2-from-v1/,/docs/codebases-json/" | split: ',' %}
<div class="not-prose">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
        {% for url in urls %}
        <li class="mr-2">
            <a href="{{ url }}"
            {% if url == page.url  %}
              class="inline-block py-3 px-4 text-white bg-theme-color rounded-lg active">
            {% else %}
              class="inline-block py-3 px-4 rounded-lg hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-white">
            {% endif %}
            {% cycle "Overview", "Repository File", "Capability Defaults", "Migrate From v1", "Legacy codebases.json" %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
